.App {
  text-align: center;
}

.style1 {
  color: blue;
  font-size: larger;
}
.style2 {
  color: green;

  font-size: x-large;
}
.style3 {
  color: red;

  font-size: xx-large;
}
.Button {
  width: 60%;
  border: 2px solid #eee;
  background-color: green;
  color: white;
  cursor: pointer;
}
.Button:hover {
  background-color: lightgreen;
  color: black;
}
.Button.Red {
  width: 60%;
  border: 2px solid #eee;
  background-color: red;
  color: white;
  cursor: pointer;
}
.Button.Red:hover {
  color: #222;
  background-color: lightcoral;
}
